@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Playpen+Sans:wght@100..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
*{
    font-family: "Poppins", sans-serif;
}
.warrper{@apply w-full max-w-[1480px] px-5 mx-auto;}
.h2,h2{@apply text-46 md:text-6xl lg:text-75 xl:text-96 2xl:text-116 font-semibold text-light_green;}
.h3,h3{@apply text-24 md:text-28 xl:text-38 2xl:text-50 font-semibold text-primary;}
.h1,h1,.text96{@apply text-38 md:text-50 lg:text-75 2xl:text-96 font-medium text-primary;}
.text16{@apply text-12 md:text-14 2xl:text-16;}
.text18{@apply text-14 lg:text-16 2xl:text-18;}
.text20{@apply text-14 md:text-18 2xl:text-20 font-medium text-secondary;}
.text24{@apply text-18 lg:text-20 2xl:text-24;}
.anim{@apply duration-300 transition-all;}
.box_shadow:hover{
    box-shadow: 0px 11px 22.8px 0px rgba(16, 31, 79, 0.12);
    transition: all;
    transition-duration: 300ms;
}
.btn{@apply text-primary font-medium text-14 border border-light_green bg-light_green hover:bg-white hover:text-primary anim rounded-xl py-2 px-3.5 md:py-2.5 md:px-5 2xl:py-3 2xl:px-6;}
.btn2{@apply text-primary font-medium text-14 bg-white border border-white hover:bg-light_green hover:text-white anim hover:border-white rounded-xl py-2 px-3.5 md:py-2.5 md:px-5 2xl:py-3 2xl:px-6;}
.r_border ul li:not(:last-child){
    border-right: 2px solid #fff;
}
@tailwind components;
@tailwind utilities;